<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teen_Mental_Help</title>
  <meta charset="UTF-8">
  <meta name="description" content="Teen Mental Help">
  <meta name="keywords" content="Teen, Mental, Health, Help, chat, therapy, peer, talk">
  <meta name="author" content="Aidan Fetz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/topnavstyle.css">
  <link rel="stylesheet" href="styles/clearfix.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div class="headimg"><img src="images/pbllogo.png" alt="company logo"></div>
        <div class="headtext"><span>Teen Mental Help</span></div>
        <div class="headnav">
            <ul>
                <li><a id="nava" href="/chat">Chat</a></li>
                <li><a id="navb" href="https://www.betterhelp.com/get-started/?go=true&utm_content=133524759310&utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=betterhelp_b&network=g&placement=&target=&matchtype=b&utm_campaign=15234220559&ad_type=text&adposition=&kwd_id=kwd-299033048821&gad_source=1&gclid=CjwKCAjwt-OwBhBnEiwAgwzrUuR5I8hr9hCq-0RYY11CcEjaBBA2fLOHt7ii_-onrHHC6xMD4HKtMhoC33gQAvD_BwE&not_found=1&gor=start">Therapy</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="title"><span>Teen Mental Health Problems</span></div>
    <div class="statistics"><p>Teen Mental Health Problems are at an all time high, even being considered an "epidemic" by the American Academy of Pediatrics along 
                               with the American Academy of Child and Adolescent Psychiatry and the Children's Hospital Association</p></div>
    <div class="title"><span>Our Goal</span></div>
    <div class="statistics"><p>Our goal is to create a safe environment for teens to anonymously talk to their peers about there mental health. 
                               This can be how they're feeling, problems they are having, how they can fix problems, etc.</p></div>
    <div class="title"><span>Problem</span></div>
    <div class="statistics"><p>Teens can sometimes feel more conforatable talking to a peer then an adult, our goal is to just create an environment to safely chat with peers.
                              We would still reccomend speaking with an adult if you have bad thoughts, but talking with a peer can help with feeling better, confidence, and 
                              just getting things off your chest and talking can be nice.</p></div>
</body>
</html>